SECRET_KEY="yours-super-secret-key"
DEBUG=False
ALLOWED_HOSTS="127.0.0.1, localhost"

PROD_DB= необязательный параметр, если его не определять, или выставить True
        то будет использоваться postgresql база,
        если выставить False - sqlite3 (при тестах тоже используется sqlite3)
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

EMAIL_FILE= необязательный параметр, по дефолту стоит True
        письма отправляются локально в файл,
        False - письма отправляются на реальную почту(в папку спам:)
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=youremail@yandex.ru
EMAIL_HOST_PASSWORD=your_own_password
DEFAULT_FROM_EMAIL=youremail@yandex.ru
